$red: #F44336;
$light-red: #FF5722;
$blue: #3F51B5;
$light-blue: #03A9F4;
$green: #26A69A;
$light-green: #4CAF50;
$yellow: #FFC107;
$light-yellow: #FFEB3B;
$orange: #FFA726;
$light-gray: #9E9E9E;
$gray: #464646;
$dark: #262728;
$light: #E9E9E9;